/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */

* {
    box-sizing: border-box;
}

/* Retire les comportements de marges par défaut */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

/* Retire les marges des formulaires and co */
button,input,select,textarea {
    margin: 0;
}

/* Remet simplement à font-size du HTML */
h1,h2,h3,h4,h5,h6 {
    font-size: 100%; 
}

/* Pas de listes moches pour l'utilisation des UL */
ul {
    list-style: none;
}

/* Encadre mieux ces médias */
img,embed,iframe,object,video {
    height: auto;
    max-width: 100%;
}
