/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version,ie > 8
*/

/***********
**  GLOBAL  
*/

:root {
    --c-blue: #0065FC;
    --c-blue-light: #DEEBFF;
    --c-gray-light: #F2F2F2;
}

html {
    font-family: "Raleway", sans-serif;
    font-size: 1.1vw;
}

a {
    color: inherit;
    text-decoration: none;
}
strong {
    font-weight: bold;
}

h1 {
    font-size: 1.3rem;
    font-weight: bold;
}
h2 {
    font-size: 1.3em;
    font-weight: bold;
}
h3 {
    font-size: 1.1em;
    font-weight: bold;
}

body {
    width: 100%;
}

/***********
**  COLOR
*/

.c-blue {
    color: #0065FC;
    color: var(--c-blue);
}

.c-gray-light {
    color: #F2F2F2;
    color: var(--c-gray-light);
}

/***********
**  HEADER  
*/

header {
    display: flex;
    height: 10vw;
    width: 100%;
}
    header img {
        margin: 3vw 0 3vw 4vw;
    }
    header nav {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        padding-right: 2.5vw;
    }
        header nav a {
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 2.5vw;
            font-weight: 500;
        }
            .header_Link--hover:hover {
                border-top: 0.2rem solid #0065FC;
                border-top: 0.2rem solid var(--c-blue);
                color: #0065FC;
                color: var(--c-blue);
            }
            header nav a:nth-child(3) {
                color: #0065FC;
                color: var(--c-blue);
                font-weight: bold;
            }
            header nav a:nth-child(3):hover {
                text-decoration: underline;
            }

/***********
**  RECHERCHE  
*/

.section-recherche {
    margin-left: 5vw;
}
    .section-recherche p {
        margin: 0.5em 0;
    }

.menu-recherche {
    display: flex;
    font-size: 1.2rem;
    margin: 1em 0;
}
    .menu-recherche i {
        display: flex;
        align-items: center;
        background-color: #F2F2F2;
        background-color: var(--c-gray-light);
        border-radius: 15px 0 0 15px;
        padding: 0 1em;
        font-size: 0.8em;
    }
    .menu-recherche input {
        border: #F2F2F2 solid 1px;
        border: var(--c-gray-light) solid 1px;
        padding: 0.7em;
        font: bold 0.9em "Raleway";
    }
    .menu-recherche input[type="text"] {
        font-family: "Raleway", sans-serif;
    }
    .menu-recherche a {
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: #0065FC;
        background-color: var(--c-blue);
        color: white;
        border-radius: 0 15px 15px 0;
        padding: 0.7em;
        font-size: 0.9em;
        font-weight: bold;
    }

.filtres {
    font-size: 1rem;
    margin-top: 2vw;
}
    .filtres h3 {
        display: inline;
        margin-right: 1em;
    }
    .filtres span {
        display: inline-block;
        border: #F2F2F2 solid 2px;
        border: var(--c-gray-light) solid 2px;
        border-radius: 50px;
        margin: 0 0.5em;
    }
        .filtres span:hover {
            background-color: #DEEBFF;
            transition: background-color 0.5s ease-out;
        }
        .filtres i {
            display: relative;
            background-color: #DEEBFF;
            background-color: var(--c-blue-light);
            color: #0065FC;
            color: var(--c-blue);
            box-shadow: 0 0 0 0.1em #DEEBFF;
                    box-shadow: 0 0 0 0.1em var(--c-blue-light);
            border-radius: 50px;
            padding: 1em;
        }
        .filtres strong {
            display: inline-block;
            padding: 0.8em;
        }

/***********
**  RESULTAT
*/

main {
    padding: 0 3vw;
    overflow: hidden;
    box-sizing: border-box;
}
    .main-info {
        margin: 1.5em 0.5em;
    }
    .main-info i {
        margin-right: 0.5em;
        padding: 5px 10px;
        border: #F2F2F2 solid 2px;
        border: var(--c-gray-light) solid 2px;
        border-radius: 25px;
        color: #0065FC;
        color: var(--c-blue);
    }
    .main-info span {
        font-size: 0.8rem;
    }

/***********
**  MAIN  
*/

.main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    font-size: 1rem;
}

.main-container h2 {
    position: relative;
}
.main-container h4 {
    padding: 0.2em 0;
}

.container-etoiles {
    display: flex;
    flex-basis: 100%;
    align-items: flex-end;
    padding: 0.5em 0;
}
    .container-etoiles i {
        font-size: 0.8em;
    }

    /***********
    **  HEBERGEMENTS
    */

    #hebergements {
        display: inline-block;
        background-color: #F2F2F2;
        background-color: var(--c-gray-light);
        width: 65%;
        border-radius: 1em;
        padding: 2em 1.5em;
        font-size: 1rem;
    }
        #hebergements > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        #hebergements img {
            height: 7em;
            width: 100%;
            border-radius: 1em 1em 0 0;
            -o-object-fit: cover;
               object-fit: cover;
        }

    .main-containeur_standard {
        display: inline-block;
        width: 30%;
        margin: 1.5em 0;
        background-color: white;
        border-radius: 1em;
        padding: 0.3em;
    }

    .hebergements_afficher-plus {
        font-weight: bold;
        font-size: 1em;
    }

    /***********
    **  POPULAIRES
    */

    #populaires {
        display: flex;
        flex-direction: column;
        width: 32%;
        background-color: #F2F2F2;
        background-color: var(--c-gray-light);
        border-radius: 1em;
        padding: 2em 2em;
        font-size: 1rem; 
    }
        #populaires .fa-chart-line {
            float: right;
        }
        #populaires > div {
            display: flex;
            flex-direction: column;
            align-content: space-around;
            align-items: stretch;
            justify-content: space-around;
            flex-basis: 100%;
        }    

    .main-containeur_aside {
        display: flex;
        background-color: white; 
        margin: 1em 0;
        border-radius: 1em;
        padding: 0.3em;
    }
        .main-containeur_aside > div {
            display: flex;
            flex-direction: column;
        }
        .main-containeur_aside img {
            display: flex;
            height: 8em;
            width: 35%;
            margin-right: 1em;
            border-radius: 1em 0 0 1em;
            -o-object-fit: cover;
               object-fit: cover;
        }
        .main-containeur_aside > div {
            display: flex;
            flex-direction: column;
        }
    
/***********
**  ACTIVITE
*/

#activite {
    margin-top: 2rem;
    font-size: 1rem;
}
    #activite h2 {
        padding: 1em 0.5em;
    }
.activite_container {
    display: flex;
    justify-content: space-between;
    height: 25em;
}
    .activite_container_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 22%;
    }
        .box_img-title {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            height: 100%;
            border: #F2F2F2 solid 1px;
            border: var(--c-gray-light) solid 1px;
            border-radius: 15px;
            box-shadow: 0 0 15px #dddddd;
        }
        .activite_container img {
            -o-object-fit: cover;
               object-fit: cover;
            width: 100%;
            min-height: 0;
            flex-grow: 1;
        }
        .activite_container h4 {
                padding: 1em 0.5em;
            }
        
.abti_2-1 {
    height: 60%;
}
.abti_2-2 {
    height: 30%;
}
.abti_3-1, .abti_3-2 {
    height: 45%;
}

/***********
**  FOOTER
*/

footer {
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
    background-color: var(--c-gray-light);
    margin-top: 3rem;
    padding: 3rem;
    font-size: 1rem;
}
    footer > div {
        flex-grow: 1;
        flex-basis: 0;
        text-align: left;
    }
    footer h3 {
        margin-bottom: 1rem;
    }
    footer a {
        display: block;
        padding-top: 0.5em;
    }


/*********************
**********************
**  QUERIE
**  W-1200
*/


@media only screen and (max-width: 1200px) {

    .main-container {
        flex-direction: column;
    }

    #hebergements {
        order: 1;
        width: 100%;
        margin-top: 2rem;
    }

    #populaires {
        width: 100%;
    }
        #populaires > div {
            flex-direction: row;
            align-content: space-between; /**/
        }
        #populaires .main-containeur_aside {
            width: 32%;
        }

        #hebergement img,
        #populaires img {
            height: 10em;
        }

}

/*********************
**********************
**  QUERIE
**  W-600
*/

@media only screen and (max-width: 600px) {

html {
    font-size: 4vw;
}

h1 {
    margin-top: 1em;
}

/************/

header {
    display: block;
    position: relative;
    height: auto;
}
    header img {
        display: block;
        height: 3em;
    }
    header nav a {
        height: 3em;
        width: 50%;
        padding: 0;
        justify-content: center;
    }
    header nav a:nth-child(3) {
        position: absolute;
        right: 0;
        top: 0;
    }
    .header_Link--hover:hover {
        border-top: none;
        border-bottom: 0.2rem solid #0065FC;
        border-bottom: 0.2rem solid var(--c-blue);
    }

.menu-recherche a {
    border-radius: 1rem;
    margin-left: -0.8rem;
    font-size: 0;
}
    .menu-recherche a::after {
        content: "\f002";
        font-family: "Font Awesome 5 Free";
        font-size: 1rem;
        color: white;
        width: 3rem;
        text-align: center;
    }

.main-info i {
    float: left;
}

.filtres h3 {
    display: block;
}
.filtres span {
    margin-top: 1em;
}

/************/

main {
    padding: 0;
}

    #populaires {
        border-radius: 0;
    }
    #populaires > div {
        flex-direction: column;
    }
    #populaires img{
        height: 8.5em;
        width: 40%;
    }
    #populaires .main-containeur_aside{
        flex-direction: row;
        width: 100%;
        margin: 0.3em 0; 
    }

    #hebergements {
        background-color: white;
        margin-top: 1rem;
    }
    #hebergements > div {
        flex-direction: column;
    }
    .main-containeur_standard {
        width: 100%;
        border-radius: 1em;
        box-shadow: 0 0 15px #dddddd;
    }

/************/

.activite_container {
    height: auto;
    flex-direction: column;
}
    .activite_container_box {
        width: 100%;
    }
    .box_img-title {
        margin: 1em;
        border-radius: 1em;
        box-shadow: 0 0 15px #dddddd;
    }
    .activite_container img {
        height: 9em;
    }

/************/

footer {
    flex-direction: column;
}
    footer > div {
        padding: 1em 0; 
    }

}